<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>customer info</h2>
      <%#= render 'customers/info', customer: @game.customer %>
      <h2 class="mt-3">New game</h2>
      <%= render 'form', game: Game.new %>
    </div>

    <div class='col-md-8 offset-md-1'>
  		<h2><%= @gametitle.name %></h2>
  		<%= render 'show', games: @games%>
  </div>
</div>