<div class="container mt-5">
  <div class="row">
    <h3 class="p-3 mx-auto">
      Welcome to
      <i class="fas fa-gamepad"></i>
      <strong>GameFans</strong>
    </h3>
  </div>
  <div class="row">
    <h5 class="p-3 mx-auto">
      ゲーム好きの、ゲーム好きによる、ゲーム好きのためのサイトです！<br>
      ゲームの情報交換や仲間探しに活用できます！
    </h6>
  </div>
</div>