  <div class="container my-5">
    <div class='row justify-content-center'>
      <div class="slick" style="width: 800px">
        <div><img src="assets/apex.jpg"></div>
        <div><img src="assets/fortnite.png"></div>
        <div><img src="assets/PUBG.jpg"></div>
        <div><img src="assets/monhan.png"></div>
        <div><img src="assets/pokemonunite.png"></div>

      </div>
    </div>
  </div>

  <script>
  $(document).on('turbolinks:load', function(){
   $('.slick').slick({
  	autoplay: true,
  	variableWidth: true,
  	autoplaySpeed: 5000
  });
  });
  </script>