  <div class="container mt-5">
    <div class='row justify-content-center'>
      <div class="slick" style="width: 640px">
        <div><img src="assets/apex.jpg"></div>
        <div><img src="assets/fortnite.png"></div>
        <div><img src="assets/PUBG.jpg"></div>
      </div>
    </div>
  </div>
  
  <script>
  $(document).on('turbolinks:load', function(){
   $('.slick').slick({
  	autoplay: true,
  	variableWidth: true
  });
  });
  </script>