<footer>
  <div class="fixed-bottom mt-3">
    <div class='container bg-white'>
      <div class='row border-top py-2'>
        <div class='mx-auto justify-content-center'>
          <%= link_to "お問い合わせはこちらから", new_contact_path, class: "text-dark" %>
          <p>CopyRight KarzLightyear</p>
        </div>
      </div>
    </div>
  </div>
</footer>