<footer>
  <div class="fixed-bottom">
    <div class='container mt-5'>
      <div class='row'>
        <div class='mx-auto justify-content-center'>
          <%= link_to "お問い合わせはこちらから", new_contact_path, class: "text-dark" %>
          <p>CopyRight KarzLightyear</p>
        </div>
      </div>
    </div>
  </div>
</footer>